.centerblock__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 51px;
  gap: 10px;
}

.centerblock__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filter__title {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
}
.filter__wrapper {
  position: relative;
}

.filter__button {
  color: #ffffff;
  /*composes: btn-text from '/src/UI/Button/button.module.css';*/
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
}

.filter__button:not(:last-child) {
  border: 1px solid #9a48f1;
  color: #9a48f1;
}

.filter__dropdown {
  position: absolute;
  left: 0;
  top: 50px;
  padding: 34px;
  display: flex;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
  background: #313131;
  width: 248px;
  max-height: 305px;
  overflow: hidden;
}

.filter__item_active {
  color: #9a48f1;
}

.filter__list {
  display: flex;
  overflow: auto;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  flex-direction: column;
  max-height: 232px;
  width: 100%;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(75, 73, 73, 1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: white;
  }
}
.filter__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
}
.filter__item:hover {
  color: #b672ff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
